:root {
    /*pixel values*/
    --radius10: 10px;
	--radius20: 20px;
    --intensity5x: 5px;
	--intensity10x: 10px;
    --intensity20x: 20px;
    --intensity30x: 30px;
    --intensity50x: 50px;

    --mobile_default_fontsize: 0.9rem;
    --desktop_default_fontsize: 1rem;
    --H1-1: 1.1rem;
    --H1-2: 1.2rem;
    --H1-3: 1.3rem;
    --H1-4: 1.4rem;
    --H1-5: 1.5rem;
    --H2: 2rem;
    --H2-2: 2.2rem;
    --H2-3: 2.3rem;
    --H2-4: 2.4rem;

    --background_fill: rgba(0,0,20,0.8);
    --surface_fill: rgba(255,255,255,0.05);
    --faint_gray: rgba(255,255,255,0.2);
    --light_gray: rgb(240,240,240);
    --gray: #333;

    /* Color Theme Swatches in RGBA */
    --orange-pallete-1: rgb(255, 136, 0);
    --orange-pallete-2: rgba(224, 192, 38, 1);
    --orange-pallete-3: rgba(224, 214, 38, 1);
    --orange-pallete-4: rgba(181, 224, 38, 1);
    --orange-pallete-5: rgb(99, 175, 58);

}

::-webkit-scrollbar {
    width: 12px;
    background: #f7ece1;
}

::-webkit-scrollbar-thumb {
    background: var(--orange-pallete-5);
    border-radius: var(--radius20);
}

@font-face {
	font-family: plain_text1;
	src: url("../../fonts/Righteous-Regular.ttf");
}

@font-face {
	font-family: header_text;
	src: url("../../fonts/Harabara\ Mais\ Demo.otf");
}


body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: var(--mobile_default_fontsize) !important;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centeredInParent{
    grid-column: 2;
}

a{
    text-decoration: none;
}

.word_link{
    color: inherit;
    text-decoration: underline;
}

.flexRow{
    display: flex;
    flex-flow: row wrap;
}

.visible{
    opacity: 1 !important;
}

.focusedSection{
    color: var(--orange) !important;
    font-weight: bold !important;
}

/*OPTIMIZATION CODE FOR LONG SCREENS || PHONES */

#pageHeader{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: var(--orange-pallete-1);
    background-image: url(../../images/page_background.png);
    background-repeat: repeat;
    border-bottom-left-radius: var(--radius20);
    border-bottom-right-radius: var(--radius20);
    box-sizing: border-box;
    padding-bottom: 20px;
}

#authorDetailsWrapper{
    width: 100%;
}

#authorDPContainer{
    justify-self: center;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#authorDP{
    width: 100%;
    height: auto;
}

#authorDetailsContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#authorDetails{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #fff;
    padding: 0 30px;
}

#authorSkill{
    font-size: var(--H1-4);
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

#authorName{
    font-family: plain_text1;
    font-weight: bold;
    text-align: center;
    font-size: var(--H2-3);
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

#contactBubblesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
    justify-self: end;

    margin: 50px 15px 0 15px;
}

.headerContactLink{
    height: 35px;
    width: 35px;
    color: #fff;
    background-color: var(--gray);
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#menu{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgba(224, 150, 119, 0.5);
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.4);
    
    -webkit-backdrop-filter: blur(var(--intensity20x));
	backdrop-filter: blur(var(--intensity20x));
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    border: solid 2px var(--faint_gray);
    border-top: none;
}

#topBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    padding: 10px;
}

#menuAuthorName{
    font-family: plain_text1;
    font-weight: bold;
    font-size: var(--H1-4);
    color: var(--gray);
}

#pagesBtn{
    border: solid 3px var(--gray);
    color: var(--gray);
    font-weight: bold;
    background-color: transparent;
    border-radius: var(--radius20);
    padding: 8px 15px;
}

.activePagesBtn{
    background-color: var(--orange-pallete-1) !important;
    color: #fff !important;
    border-color: #fff !important;
}

#bottomBar{
    display: none;
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 10px;
    background-color: var(--orange-pallete-1);
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    padding: 10px;
}

.visibleBottomBar{
    display: flex !important;
}

.sectionLink{
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-size: var(--H1-1);
    box-sizing: border-box;
    padding: 5px 0;
}

#pageBody{
    display: flex;
    flex-flow: row wrap;
}

.section{
    width: 100%;
    padding: 50px 0;
}

.sectionTitle{
    position: relative;
    font-family: plain_text1;
    color: #000;
    font-weight: bold;
    font-size: var(--H1-5);

    box-sizing: border-box;
    margin: 0 10px 20px 10px;
}

.sectionDescription{
    box-sizing: border-box;
    padding: 0 20px;
}

.titleTxt{
    background-color: #fff;
    padding: 0 10px;
}

.sectionContent{
    color: #000;
}

/* #aboutSection{
    padding-top: 100px;
    background-color: var(--light_gray);
}

#aboutSectionTitle{
    background-color: var(--light_gray);
}
*/

#welcomeTxt{
    padding: 0 20px;
}

#skillsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 20px;
}

.skillsCard{
    position: relative;
    width: 100%;
    border-left: solid 3px rgba(255, 136, 0, 0.3);
    padding-bottom: 70px;
}

#graphicsSkillCard{
    padding-bottom: 0;
}

.cardDot {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: -11px;
    border: solid 3px var(--orange-pallete-1);
    background-color: #fff;
  }

.cardOverlay{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}

.skillCardDetailsContainer{
    min-width: 300px;
    /* -webkit-backdrop-filter: blur(var(--intensity50x));
	backdrop-filter: blur(var(--intensity50x)); */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
}

.skillName{
    grid-column: 1/3;
    grid-row: 1;
    justify-self: start;
    color: var(--orange-pallete-1);

    display: block;
    font-size: var(--H1-2);
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
}

.skills{
    grid-row: 2;

    box-sizing: border-box;
    padding: 30px 10px 0 10px;
}

.pill{
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--gray);
    box-sizing: border-box;
    padding: 3px;
    margin: 5px 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 100px;
}

.iconsContainer{
    background-color: #fff;
    border-radius: var(--radius20);
    
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.skillIcon{
    height: 20px;
    width: 20px;
}

.skill{
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
}

.skillDescription{
    grid-row: 3;
    padding: 14px 20px;
}

.skillImageContainer{
    height: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}

/* #webSkillCard{
     background-image: url(../../images/web_skillset_bg.png);
     background-blend-mode: soft-light;
     background-repeat: repeat;
     background-size: contain;
}

#blenderSkillCard{
    background-image: url(../../images/3D_modelling_skillset_bg.png);
    background-repeat: repeat;
    background-size: contain;
}

#graphicsSkillCard{
    background-image: url(../../images/graphics_design_skillset_bg.png);
    background-repeat: repeat;
    background-size: contain;
} */

.skillsImage{
    height: 250px;
    width: 250px;
}

/* #projectsSection{
    background-color: var(--gray);
}

#projectsSectionTitle{
    background-color: var(--gray);
    color: #fff;
} 

#projectSectionDescription{
    color: #fff;
} */

#projectsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;

    padding: 30px 10px;
}

.projectCard{
    width: 300px;
    min-height: 300px;

    box-sizing: border-box;
    border-top: solid 20px var(--orange-pallete-4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    border-bottom-left-radius: var(--radius10);
    border-bottom-right-radius: var(--radius10);
}

.projecCardOverlay{
    height: 100%;
    border-radius: inherit;
    background-color: rgba(181, 224, 38, 0.8);
    
    box-sizing: border-box;
    padding-bottom: 300px;
}

#portfolioWebpage{
    background-image: url(../../images/portfolio_card_dp.jpg);
}

#digitalArtwork{
    background-image: url(../../images/graphics_design_card_dp.jpg);
}

.projectName{
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: var(--H1-4);

    box-sizing: border-box;
    padding: 20px;
}

.projectCardDetails{
    grid-row: 1;
    color: #000;
    text-align: center;

    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}

#servicesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px;

    padding: 50px 30px 40px 30px;
}

.serviceCard{
    width: 300px;
    border-radius: var(--radius10);
    position: relative;
    background-color: var(--orange-pallete-5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    box-sizing: border-box;
    border: solid 4px var(--orange-pallete-5);
}

.serviceIcon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: var(--orange-pallete-5);
    background-color: #fff;
    position: absolute;
    top: -25px;
    left: -25px;

    box-sizing: border-box;
    padding: 15px;
}

.serviceName{
    color: #fff;
    font-weight: bold;
    font-size: var(--H1-3);
    
    box-sizing: border-box;
    padding: 50px 10px 20px 10px;
    text-align: center;
}

.serviceDetails{
    box-sizing: border-box;
    padding: 20px 20px 50px 20px;
    color: #fff;
}

.serviceReference{
    position: absolute;
    bottom: -20px;
    right: 30%;
    left: 30%;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);

    color: #000;
    background-color: #fff;
    font-weight: bold;
    border-radius: var(--radius20);
    box-sizing: border-box;
    padding: 10px;
}

#pageFooter{
    justify-content: start;
    gap: 50px;
    width: 100%;
    background-color: var(--gray);

    box-sizing: border-box;
    padding: 100px 20px 20px 20px;
    margin-top: 50px;

    display: flex;
    flex-flow: row wrap;

}

.footerContentContainer{
    width: 300px;
}

.FCCheader{
    font-family: plain_text1;
    font-size: var(--H1-5);
    font-weight: bold;
    color: rgba(255,255,255,0.6);
}

.FCCbody{
    padding-top: 20px;
}

.contactLink{
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 100px;

    box-sizing: border-box;
    padding: 5px 10px;
    margin: 10px 0;
}

.footer{
    display: block;
}

#copyright_txt{
    flex-basis: 100%;
    border-top: solid 2px var(--faint_gray);
    padding-top: 10px;
    margin-top: 30px;
    color: var(--faint_gray);
}

/*OPTIMIZATION FOR WIDER SCREENS ||  TABLETS */

@media only screen and (min-width: 660px)
{

    .projectCard{
        width: 250px;
        min-height: 250px;
    }
    
    .projecCardOverlay{
        padding-bottom: 250px;
    }

    #pageFooter{
        justify-content: start;
    }

}

/*OPTIMIZATION FOR WIDER SCREENS ||  LAPTOPS */

@media only screen and (min-width: 1000px)
{

    body{
        font-size: var(--desktop_default_fontsize) !important;
    }

    #contentContainer{
        height: 100vh;
        min-height: 300px;
        overflow-y: auto;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 20% 1fr;
        grid-template-rows: auto;
    }

    #pageBody{
        grid-column: 2 !important;
        grid-row: 1 !important;
        overflow-y: auto;
    }

    #pageHeader{
        grid-column: 1 !important;
        border-radius: 0 !important;
        height: 100% !important;
    }

    #authorDetails{
        place-items: start;
    }

    #authorDPContainer{
        width: 250px;
    }

    #contactBubblesContainer{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
    }

    #menu{
        display: none;
    }

    .section{
        padding: 50px 30px;
    }

    .skillCardDetailsContainer{
        min-width: 300px;
        /* -webkit-backdrop-filter: blur(var(--intensity50x));
        backdrop-filter: blur(var(--intensity50x)); */
    
        grid-template-columns: 30% 1fr;
        grid-template-rows: auto 1fr;
    }

    .skills{
        grid-column: 1;
        grid-row: 2;
    }

    .skillDescription{
        grid-column: 2;
        grid-row: 2;
    }

}