

:root {
    /*pixel values*/
    --radius10: 10px;
	--radius20: 20px;
    --intensity5x: 5px;
	--intensity10x: 10px;
    --intensity20x: 20px;
    --intensity30x: 30px;
    --intensity50x: 50px;

    --mobile_default_fontsize: 0.9rem;
    --desktop_default_fontsize: 1rem;
    --H1-1: 1.1rem;
    --H1-2: 1.2rem;
    --H1-3: 1.3rem;
    --H1-4: 1.4rem;
    --H1-5: 1.5rem;
    --H2: 2rem;
    --H2-2: 2.2rem;
    --H2-3: 2.3rem;
    --H2-4: 2.4rem;

    --background_fill: rgba(0,0,20,0.8);
    --surface_fill: rgba(255,255,255,0.05);
    --faint_gray: rgba(255,255,255,0.2);
    --gray: #333;

    /* Color Theme Swatches in RGBA */
    --orange-pallete-1: rgb(255, 120, 1);
    --orange-pallete-2: rgba(224, 171, 13, 1);
    --orange-pallete-3: rgba(224, 154, 38, 1);
    --orange-pallete-4: rgba(224, 150, 119, 1);
    --orange-pallete-5: rgba(224, 212, 132, 1);

}

::-webkit-scrollbar {
    width: 12px;
    background: #f7ece1;
}

::-webkit-scrollbar-thumb {
    background: var(--orange-pallete-5);
    border-radius: var(--radius20);
}

@font-face {
	font-family: plain_text1;
	src: url("../../fonts/Righteous-Regular.ttf");
}

@font-face {
	font-family: header_text;
	src: url("../../fonts/Harabara\ Mais\ Demo.otf");
}


body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: var(--mobile_default_fontsize) !important;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centeredInParent{
    grid-column: 2;
}

a{
    text-decoration: none;
}

.word_link{
    color: inherit;
    text-decoration: underline;
}

.flexRow{
    display: flex;
    flex-flow: row wrap;
}

.visible{
    opacity: 1 !important;
}

.focusedSection{
    color: var(--orange) !important;
    font-weight: bold !important;
}

/*OPTIMIZATION CODE FOR LONG SCREENS || PHONES */

#pageHeader{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: var(--orange-pallete-4);
    background-image: url(../../images/page_background.png);
    background-repeat: repeat;
    border-bottom-left-radius: var(--radius20);
    border-bottom-right-radius: var(--radius20);
    box-sizing: border-box;

    border: solid 2px var(--faint_gray);
    padding-bottom: 20px;
}

#authorDetailsWrapper{
    width: 100%;
}

#authorDPContainer{
    justify-self: center;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#authorDP{
    width: 100%;
    height: auto;
}

#authorDetailsContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#authorDetails{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #fff;
    padding: 0 30px;
}

#authorSkill{
    font-size: var(--H1-4);
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

#authorName{
    font-family: plain_text1;
    font-weight: bold;
    text-align: center;
    font-size: var(--H2-3);
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

#contactBubblesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    justify-self: end;

    margin: 50px 15px 0 15px;
}

.headerContactLink{
    height: 35px;
    width: 35px;
    color: #fff;
    background-color: var(--gray);
    border-radius: 50%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#menu{
    opacity: 0;
    transition: opacity 0.5s ease;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: rgba(224, 150, 119, 0.5);
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.4);
    
    -webkit-backdrop-filter: blur(var(--intensity20x));
	backdrop-filter: blur(var(--intensity20x));
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    border: solid 2px var(--faint_gray);
    border-top: none;
}

#topBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    padding: 10px;
}

#menuAuthorName{
    font-family: plain_text1;
    font-weight: bold;
    font-size: var(--H1-4);
    color: var(--gray);
}

#pagesBtn{
    border: solid 3px var(--gray);
    color: var(--gray);
    font-weight: bold;
    background-color: transparent;
    border-radius: var(--radius20);
    padding: 8px 15px;
}

.activePagesBtn{
    background-color: var(--orange-pallete-4) !important;
    color: #fff !important;
}

#bottomBar{
    display: none;
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 10px;
    background-color: var(--orange-pallete-4);
    border-bottom-right-radius: var(--radius20);
    border-bottom-left-radius: var(--radius20);

    box-sizing: border-box;
    padding: 10px;
}

.visibleBottomBar{
    display: flex !important;
}

.sectionLink{
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-size: var(--H1-1);
    box-sizing: border-box;
    padding: 5px 0;
}

#pageBody{
    display: flex;
    flex-flow: row wrap;
    row-gap: 80px;
}

.section{
    width: 100%;
    margin: 20px 0;
}

.sectionTitle{
    position: relative;
    font-family: plain_text1;
    color: var(--orange-pallete-1);
    font-weight: bold;
    font-size: var(--H1-4);

    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 10px 20px 10px;
}

.sectionDescription{
    box-sizing: border-box;
    padding: 0 20px;
}

.titleTxt{
    background-color: #fff;
    padding: 0 10px;
}

  .sectionTitle::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%; /* Adjust the top position to center the line relative to the text */
    left: 0;
    width: 100%; /* Make the line span the entire width of the container */
    height: 2px; /* Adjust the height of the line */
    background-color: rgba(0, 0, 0, 0.1); /* Set the color of the line */
    transform: translateY(-50%); /* Center the line vertically */
  }

.sectionContent{
    color: #000;
}

#aboutSection{
    margin-top: 100px;
}

#welcomeTxt{
    padding: 0 20px;
}

#skillsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 50px;

    padding: 20px 0;
}

.skillsCard{
    width: 100%;
    
}

.cardOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}

.skillCardDetailsContainer{
    min-width: 300px;
    max-width: 80%;
    -webkit-backdrop-filter: blur(var(--intensity50x));
	backdrop-filter: blur(var(--intensity50x));
    background-color: rgba(0,0,0,0.05);
    border-radius: var(--radius20);

    box-sizing: border-box;
    margin: 50px 0;
}

.skillName{
    display: block;
    font-size: var(--H1-1);
    font-weight: bold;
    text-align: center;

    box-sizing: border-box;
    padding-top: 20px;
}

.skills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;

    box-sizing: border-box;
    padding: 30px 10px 0 10px;
}

.pill{
    background-color: #000;
    box-sizing: border-box;
    padding: 5px;
    border-radius: var(--radius20);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: solid 1px var(--orange-pallete-1);
}

.skillIcon{
    height: 30px;
    width: 30px;
    border-radius: var(--radius20);
    background-color: #fff;
}

.skill{
    color: var(--orange-pallete-1);
    margin: 0 10px;
    font-weight: bold;
}

.skillDescription{
    padding: 20px;
}

.skillImageContainer{
    height: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: center;
}

#webSkillCard{
     background-image: url(../../images/web_skillset_bg.png);
     background-blend-mode: soft-light;
     background-repeat: repeat;
     background-size: contain;
}

#blenderSkillCard{
    background-image: url(../../images/3D_modelling_skillset_bg.png);
    background-repeat: repeat;
    background-size: contain;
}

#graphicsSkillCard{
    background-image: url(../../images/graphics_design_skillset_bg.png);
    background-repeat: repeat;
    background-size: contain;
}

.skillsImage{
    height: 250px;
    width: 250px;
}

#projectsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    padding: 30px;
}

.projectCard{
    flex-basis: 250px;
}

#portfolioImage{
    background-image: url(../../images/portfolio_card_dp.jpg);
}

#artWorkImage{
    background-image: url(../../images/graphics_design_card_dp.jpg);
}

.projectImageContainer{
    height: 250px;
    background-size: 100% 100%;
    background-blend-mode: lighten;
    border-bottom: none;
}

.projectName{
    flex-basis: 100%;
    background-color: var(--gray);
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0;
    font-weight: bold;
    font-size: var(--H1-2);
    border-top-left-radius: var(--radius20);
    border-top-right-radius: var(--radius20);
}

.projectRemark{
    color: #fff;
    background-color: var(--gray);
    text-align: center;
    padding: 15px 0;
    border-bottom-left-radius: var(--radius20);
    border-bottom-right-radius: var(--radius20);
}

#servicesContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;

    padding: 30px;
}

.serviceCard{
    flex-basis: 300px;
    border-radius: var(--radius20);
    position: relative;

    box-sizing: border-box;
    background-color: rgba(224, 212, 132, 0.3);
    border: solid 4px var(--orange-pallete-5);
    padding: 30px 20px 20px 20px;
}

.serviceIcon{
    background-color: var(--orange-pallete-5);
    color: #fff;
    position: absolute;
    top: -25px;
    left: 15px;
    border-radius: var(--radius10);

    box-sizing: border-box;
    padding: 15px;
}

.serviceName{
    color: #000;
    font-weight: bold;
    font-size: var(--H1-2);
    border-radius: var(--radius10);
    padding-bottom: 20px;
    text-align: center;
}

#pageFooter{
    justify-content: center;
    column-gap: 30px;
    row-gap: 50px;
    width: 100%;
    background-color: var(--gray);

    box-sizing: border-box;
    padding: 100px 20px 50px 20px;
    margin-top: 50px;

    display: flex;
    flex-flow: row wrap;
}

.footerContentContainer{
    flex-basis: 300px;
}

.FCCheader{
    font-family: plain_text1;
    font-size: var(--H1-5);
    font-weight: bold;
    color: rgba(255,255,255,0.5);
}

.FCCbody{
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.contactLink{
    width: -moz-fit-content;
    width: fit-content;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 100px;

    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0;
}

#copyright_txt{
    flex-basis: 100%;
    border-top: solid 2px var(--faint_gray);
    padding-top: 10px;
    margin-top: 30px;
    color: var(--faint_gray);
}

/*OPTIMIZATION FOR WIDER SCREENS ||  TABLETS */

@media only screen and (min-width: 660px)
{

    #pageFooter{
        justify-content: start;
    }

}

/*OPTIMIZATION FOR WIDER SCREENS ||  LAPTOPS */

@media only screen and (min-width: 1000px)
{

    body{
        font-size: var(--desktop_default_fontsize) !important;
    }

    #contentContainer{
        height: 100vh;
        min-height: 300px;
        overflow-y: auto;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 25%;
        grid-template-rows: auto;
    }

    #pageBody{
        grid-column: 1 !important;
        grid-row: 1 !important;
        overflow-y: auto;
    }

    #pageHeader{
        grid-column: 2 !important;
        border-radius: 0 !important;
        height: 100% !important;
    }

    #authorDetails{
        place-items: start;
    }

    #authorDPContainer{
        width: 250px;
    }

    #contactBubblesContainer{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
    }

    #menu{
        display: none;
    }

    #aboutSection{
    margin-top: 20px;
    }

}